@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, p, div, ol, ul, input, button { margin: 0; padding: 0; }
body { font-family: 'microsoft yahei', 'Arial', 'Helvetica', 'sans-serif'; text-align: center; -webkit-text-size-adjust: none; overflow-x: hidden; font-size: 1em; background:#fff; color: #404040}
ol, ul, li { list-style: none; }
a { text-decoration: none; }
input, button,select, textarea { border: 0; outline: none; border-radius: 0; font-family: 'microsoft yahei' !important; }
button { outline: 0; }
.fl { float: left; }
.fr { float: right !important; }
img { border: none; border: 0; outline: none }
i,b{font-weight: normal; font-style: normal;}
.relative{position: relative;}
.transition{transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;}
.hImg{height: 100%; width: auto; float: left; display: block;}
.wImg{width: 100%; height: auto; float: left; display: block;}
.box{width: 100%; height: auto; display: block; float: left; background: #fff;}
.empty{width: 100%; height: 60px; float: left;}
.none{display:none}
.h60{height: 60px; width: 100%;float: left;}
.h50{height: 50px; width: 100%;float: left;}
input {-webkit-appearance:none; /*去除input默认样式*/}

.cover{width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 20; background: rgba(0,0,0,.2); display: none}

.wrap{max-width:640px; min-width:320px; height:auto; margin:0 auto; position:relative}
.nav{width:100%; height:54px; position:fixed; bottom:0; left:0; background:#fafafa; z-index:9; border-top: 1px solid #ccc}
.nav a{float:left; display:block; width:25%; text-align:center; color:#404040; font-size:0.8em; margin-top:8px; position:relative}
.nav a span{width:100%; float:left}
.nav a img{height:20px}
.nav .on{color:#c31a1f !important}

.login-bg{background: url(../images/login-bg.jpg) no-repeat; background-size: cover; position: absolute; top: 0; right: 0; bottom:0; left: 0}
.login-bg h1{color: #fff; margin: 24% 0; letter-spacing: 4px; font-weight: normal;}
.login-inp{width: 80%; height: 60px; margin: 0 0 10% 10% ;background: rgba(0,0,0,.5); border-radius: 60px;}
.login-inp input{width: 60%; height: 30px; text-align: center; line-height: 30px; color: #fff; font-size: 1.2em; padding:0 20%; margin-top: 15px}
.login-user input{background: url(../images/login-user.png) 20px center no-repeat; background-size: 25px}
.login-psw input{background: url(../images/login-psw.png) 20px center no-repeat; background-size: 25px}
::-webkit-input-placeholder {color: #999}
:-moz-placeholder {color: #999}
::-moz-placeholder {color: #999}
:-ms-input-placeholder {color: #999}
.loagin-tools{width: 80%; height: 60px; margin: 0 0 10% 10% ;}
.loagin-tools a{color: #0072ff; display: block; float: left; height: 60px; line-height: 60px}
.loagin-tools input{border: 1px solid #1c1c1c; border-radius: 60px; height: 58px; padding: 0 20%; background: none; color: #1c1c1c; font-size: 1.2em; float: right;}

.swiper-wrap{width: 100%; float: left;}
.swiper-wrap img{width: 100%}
.box{width: 94%; height: auto; padding: 3%; float: left; text-align: left}
.det-border{border-top: 5px solid #eee;border-bottom: 5px solid #eee;}
.det-tit p{width: 100%; font-size: 1.2em; text-align: left}
.det-tit span{width: 100%;display: block;color: #83a45f; text-align: left; margin-top: 2%}
.det-green{width: 100%; float: left; background: #83a45f; font-size: 1.2em; height: 40px; line-height: 40px; text-align: center; color: #fff}
.fixed-btn{width:100%; height:50px; line-height: 50px;position:fixed; bottom:0; left:0; background:#83a45f; z-index:9; color: #fff}
.fixed-btn img{height: 20px; margin-right: 10px; position: relative; top: 3px}
.wen{line-height: 24px}

.user-top{width: 100%; height: auto; float: left; background: url(../images/user-bg.jpg) no-repeat; background-size: cover; padding: 20% 0}
.user-top p{float: left; color: #fff; text-align: center; width: 100%; margin-top: 3%}
.user-pic{width: 100%; height: 60px; float: left; text-align: center;}
.user-pic img{width: 60px; height: 60px; border-radius: 60px}
.user-name{font-size: 1.2em}
.user-name i{width: 24px; height: 24px; line-height: 24px; font-size: .6em; border-radius: 24px; background: #ff9000; border: 1px solid #fff; display: inline-block; position: relative; top: -14px; left: 4px; font-style: italic;}
.user-tel{font-size: 1em}
.user-wen{font-size: .8em}
.nav-box{width: 100%; height: auto; float: left; background: #fff;}
.nav-box a {width: 100%; height: 51px; display: block; float: left; background: #fff;}
.nav-box .left-pic {width: 20%; height: 51px; float: left; display: block; overflow: hidden; text-align: center}
.nav-box .left-pic img {width: 26px; height: 26px; overflow: hidden; margin-top: 12px}
.nav-box .right-main {width: 80%; display: block; float: right; text-align: center; text-align: left; position: relative; border-bottom: 1px solid #dcdcdc;height: 50px; line-height: 50px}
.nav-box .right-main .tit1 {width: 60%; float: left; color: #1b1b1b}
.nav-box .right-main .num1 {position: absolute; right: 5%; top: 0;height: 50px; color: #868686;}
.nav-box .right-main i {width: 10%; height: 50px; line-height: 50px; text-align: center; font-weight: bold; color: #f6481e; float: right; margin-left: 8px}
.nav-box .right-main i img {width: 9px; line-height: 50px; float: right; margin-top: 18px;}
.nav-box a:last-child .right-main{border: none}
.fixed-btn1{width:100%; height:50px; line-height: 50px;position:fixed; bottom:0; left:0; background:#fff; z-index:9; color: #f8360e}

.shop-box{width: 100%; height: auto; border-top: 8px solid #eee}
.shop-box input{width: 20px; height: 20px; margin-right: 5px;}
.shop-box input[type=checkbox]{ -webkit-appearance: none;background: url(../images/icon-chk.png) no-repeat; background-size:contain}
.shop-box input[type="checkbox"]:checked { background:url(../images/icon-chk1.png) no-repeat; background-size:contain}
.shop-top{width: 94%; height: 40px; line-height: 40px; text-align: left; padding: 0 3%; background: #f8fafb}
.shop-top a{color: #000}
.shop-top a img{height: 14px; position: relative; top: 3px; margin-left: 8px}
.shop-top input{position: relative; top: 5px; margin-right: 10px;}
.shop-main{width: 94%; height: auto; padding: 3%; border-bottom: 1px solid #f3f3f3}
.shop-main .chk{float: left; margin: 28px 3% 0 0 ; position: relative;z-index: 1}
.shop-main a{width: 79px; height: 79px;display: block;border-radius: 6px; overflow: hidden; border: 1px solid #d3d3d3; float: left; margin-right: 3%}
.shop-main a img{width: 100%; height: 100%}
.shop-right{text-align: left; position: relative;}
.shop-right .tit{height: 24px; line-height: 24px; overflow: hidden}
.shop-right .type{height: 24px; line-height: 24px; overflow: hidden; color: #999; font-size: .8em}
.shop-right .tools{height: 32px; line-height: 32px;}
.shop-right .tools i{color: #83a45f}
.shop-right .tools .num{width: 90px; height: 30px; border:1px solid #d3d3d3; display: block; float: right; border-radius: 4px}
.shop-right .tools .cut,.shop-right .tools .add{width: 30px; height: 30px; display: block; float: left; text-align: center; font-size: 1.4em}
.shop-right .tools input{width: 28px; height: 30px; line-height: 30px; text-align: center; margin: 0; float: left; border-left: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3}
.shop-right .del{width: 16px; height: 16px; position: absolute; top: 0; right: 0}
.shop-btn{width:100%; height:50px; line-height: 50px;position:fixed; bottom:0; left:0; background:#fff; z-index:9; border-top: 1px solid #a0a0a0; text-align: left}
.shop-btn input{width: 20px; height: 20px; margin-right: 5px; position: relative; top: 4px; margin-left: 3%; font-size: 1.2em}
.shop-btn input[type=checkbox]{ -webkit-appearance: none;background: url(../images/icon-chk.png) no-repeat; background-size:contain}
.shop-btn input[type="checkbox"]:checked { background:url(../images/icon-chk1.png) no-repeat; background-size:contain}
.shop-btn a{background: #83a45f; color: #fff; height: 50px ; line-height: 50px; display: block; float: right; padding: 0 3%}

.shop-bg{background: url(../images/shop-bg.jpg) no-repeat; background-size: cover; position: absolute; top: 0; right: 0; bottom:0; left: 0}
.shop-head{position: absolute; top: 0; left: 0; right: 0; bottom: 72.2%; background: url(../images/shop-icon.png) center center no-repeat; background-size: contain; z-index: 2}
.shop-search{width: 60%; height: 30px; float: left; margin-left: 20%; background: #fff; position: absolute; bottom: 3%}
.s-box{width: 100%; height: 100%; float: left; position: relative;}
.shop-search .shop-i{width: 60%; height: 30px; padding: 0 0 0 5%; line-height: 30px; float: left}
.shop-search .shop-b{width: 30%; height: 30px; line-height: 30px; color: #fff; background: #83a45f; float: right;}
.view-car{width: 30px; height: auto; background: #fff; color: #000; border-radius: 8px; display: block; font-size: .6em; padding: 5px 0; position: absolute; right: 0; top: 50%; margin-top: -50px; line-height: 14px}
.view-car img{width: 20px}
.shop-body{position: absolute; top: 27.8%; left: 0; right: 0; bottom: 0; z-index: 2; margin: 0; overflow-y: scroll;}
.shop-body dd{width: 44%; padding:6% 3%; border-bottom: 2px solid #a0a0a0; float: left; margin: 0; background: url(../images/line.png) right repeat-y}
.shop-body dd:nth-of-type(2n){background: none}
.shop-body dd a{width: 46%; border: 1px solid #fff; color: #fff; font-size: .8em; height: 26px; line-height: 26px; display: block;}
.shop-body dd span{width: 100%; color: #fff; display: block; float: left; text-align: left; overflow: hidden; font-size: 1.2em}
.shop-body .shop-list-tit{margin-top: 8%}

.car-pop{position: absolute; top: 120%; left: 0; right: 0; bottom: 0; z-index: 6; margin: 0; background: #fff; height: 0; overflow: hidden;}
.car-pop-top{width: 94%; height: auto;padding: 0 3%; border-bottom: 1px solid #d3d3d3; float: left}
.car-pop-top .pic{width: 80px; height: 80px; position: relative; top: -20px; border-radius: 6px; border: 1px solid #d3d3d3; float: left}
.car-pop-top span{width: 50%; height: auto; display: block; float: left; text-align: left; color: #f02828; margin: 18px 0 0 3%; font-weight: bold; font-size: 1.2em}
.car-pop-top i{width: 50%; height: auto; display: block; float: left; text-align: left;font-size: .6em; color: #999; margin: 2px 0 0 3%}
.car-pop-close{width: 18px; height: 18px; position: absolute; top: 10px; right: 10px}
.car-sel{width: 96%; height: auto; padding:0 0 6% 3%; float: left ;border-bottom: 1px solid #d3d3d3;}
.car-sel label{width: auto; height: 30px; padding: 0 8px; border: 1px solid #d3d3d3; position: relative; display: block; float: left;line-height: 30px;margin:3%  3% 0 0; border-radius: 6px}
.car-sel label input{width: 0; height: 0; border: none; overflow: hidden; opacity: 0}
.car-sel .on{border: 1px solid #83a45f; background: #83a45f; color: #fff}
.car-sel p{text-align: left; margin: 6% 0 0 0; float: left; width: 100%}
.car-tools{width: 94%; margin: 6% 0 0 3%; float: left}
.carfixed-btn{width:100%; height:50px; line-height: 50px;position:absolute; bottom:0; left:0; background:#333; z-index:9; color: #fff}

.completed-box{width: 94%; height: auto; padding: 3%; float: left}
.completed-box .time{width: 100%; margin:0 0 3% 0; font-size: 1.2em; float: left}
.com-list{width: 100%; height: 80px; display: block; float: left; border-radius: 6px; box-shadow: 0 0 5px rgba(0,0,0,.4); margin-top: 3%}
.com-list .pic{width:60px; height: 60px; border-radius: 6px; overflow: hidden; margin: 10px 3% 0 10px; display: block; float: left}
.com-list .pic img{width: 100%; height: 100%}
.com-list .tit{text-align: left; color: #000; margin-top: 10px}
.com-list .state{text-align: left; color: #999; margin-top: 20px; font-size: .8em}
.com-list .price{height: 80px; line-height: 80px; float: right; margin-right: 10px; color: #666; font-weight: bold;}
.fixed-com{width:100%; height:50px; line-height: 50px;position:fixed; bottom:0; left:0; background:#cecece; z-index:9; color: #fff}
.fixed-com span{width: 50%;display: block; float: left; font-size: 1.2em}
.fixed-com .total{background: #909090}

.his-top{width: 100%; height: 38px; float: left;; line-height: 38px; font-size: 1.2em; color: #83a45f; border-bottom: 2px solid #83a45f; background: #fff}
.his-box{width: 100%; height: auto; float: left; margin-top: 3%; background: #fff; position: relative;}
.his-box .icon-com{width: 90px; height: 90px; position: absolute; top: 0; right: 50px; background: url(../images/icon-com.png) top center no-repeat;background-size: contain;}
.his-box-top{width: 97%; height: 40px; float: left; padding-left: 3%; border-bottom: 1px solid #eee}
.his-box-top a{display: block; float: left; color: #83a45f; height: 40px; line-height: 40px;}
.his-box-top img{width: 20px; float: right; margin:10px 3% 0 0}
.his-box-pic{width: 97%; height: auto; float: left; margin-left: 3%; padding-bottom: 6%}
.his-box-pic a{width: 60px; height: 60px; overflow: hidden; border-radius: 6px; margin:6% 3% 0 0; display: block; float: left}
.his-box-pic a img{width: 100%}
.his-mes{width: 97%; float: right; padding: 0 3% 3% 0; text-align: right; border-bottom: 1px solid #eee}
.his-mes span{font-size: 1.2em}
.his-tools{width: 97%; float: left; padding: 3% 3% 6% 0}
.his-tools a{padding: 0 12px; border-radius: 6px; display: block; float: right; margin-left: 6%; height: 30px; line-height: 30px}
.his-tools .btn1{border: 1px solid #83a45f; color: #83a45f}
.his-tools .btn2{border: 1px solid #000; color: #000}
